<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IchigoJam Copy</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">        
</head>

    <body bgcolor="#fffafa" text="black">
        <strong class="title">mixjuice-send-code</strong>
        <br><br>
        (1)IchigoJamに送りたいコマンドを打ち込み「送信」をクリック。<br>
        (2)IchigoJamでMJコマンドを実行。<br>
        <p class="ichigojam">?"MJ GETS mixjuice-send-code.herokuapp.com/"</p>
        <br>
    
        <form method="post" action="/" >
    
          <span style="border-bottom: solid 2px;">コマンド</span><br>
          <textarea type="text" name="command"  class="ichigojam" cols="31" rows="12" ></textarea></p>
          <p><input type="submit" value="送信" class="button"></p>
    
        </form>
        
    </body>

