<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>share code</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">        
</head>

    <body bgcolor="#fffafa" text="black">
        <div><strong class="title">MixJuice => Share-Code</strong></div>
        
        <div>(1)IDとシェアするコードを入力し「シェア」をクリック<br>
        (2)下記MJコマンドに発行したIDを***に入力し実行</div>
        <div class="ichigojam">?"MJ GETS mixjuice-share-code.herokuapp.com/?id=***"</div>
    
        <form method="POST" action="/" >

            <p style="border-bottom: solid 2px; width:100%;">ID</p>
            <textarea type="text" name="ID"  class="id" rows="1" maxlength="6" minlength="1" placeholder="発行するIDを入力" required></textarea>    
            <p style="border-bottom: solid 2px; width:100%;">コード</p>

            <textarea type="text" name="CODE" class="ichigojam" placeholder="Input the code to share here." cols="32" rows="12" required></textarea>
            <div><input type="submit" value="ｼｪｱ" class="button"></div>
    
        </form>
    </body>

